<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>DevOps Mini Blog</title>
<link href="/public/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header>
<h1>DevOps Mini Blog</h1>
<p class="muted">Deployed a Nodejs + MongoDB Application with Docker Compose + Terraform + GitHub Actions → AWS</p>
</header>
<main>
<%- body %>
</main>
<footer>
<p class="muted">Made by Priyan Sappal - a simple DevOps Project</p>
</footer>
</div>
</body>
</html>